## Approach for searching the contexts
- For each pdf in pdf_names:
  - First construct contexts dictionary with contexts as keys and doc_id, block_id, sentence_number, **all extractions' linear_order_number** from {this_pdf_name}_events.xlsx
  - Get doc_sentence_map with doc_id, sentence_text, sentence_id, doc_sent_linear_order from {this_pdf_name}_all.csv
  - For each context key in contexts dictionary :
    - this_doc_id, sentence_number from contexts dictionary
    - from doc_sentence_map, get all sentences up until **doc_sent_map's doc_sent_linear_order**
    - get 3 top closest doc_id, sentence_number pairs where the context was found up until this_doc_id,this_sentence_number
    - calculate distance between **doc_sent_map's doc_sent_linear_order** between context dictionary value and doc_sentence_map for each of the nearest context matches
- Plot the histogram

## Approach for ordering the documents, extractions
- For each pdf in pdf_names:
  - First sort doc_id, block_id, sentence_number and add linear_order_number from {this_pdf_name}_all_linear_order.xlsx
  - Construct doc_sentence_map with doc_id, sentence_text, sentence_id, and add doc_sent_linear_order from {this_pdf_name}_all.csv
  - For each of the sorted doc_id, block_id, sentence_number and linear_order_number, add doc_sent_linear_order.
  - Now only save events from this list doc_id, block_id, sentence_number and linear_order_number and doc_sent_linear_order along with contexts and sentence text {this_pdf_name}_events.xlsx
  - This is because mentions["documents"] and mentions["extractions"] do not match. mentions["extractions"] have page numbers and block numbers. But again COSMOS JSON does not have block numbers. So we need to sort in this order doc_id, block_id, sentence_number and add linear_order_number for extractions, then a linear order number for documents after sorting doc_ids and sentence_numbers. And combine the two for searching the contexts within documents by document linear order.

In [1]:
!pip install altair
!pip install altair vega_datasets
!pip install vega
!pip install altair_viewer
!pip install textwrap

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: altair in /usr/local/lib/python3.10/dist-packages (4.2.2)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair) (4.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from altair) (1.22.4)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.10/dist-packages (from altair) (1.5.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair) (0.12.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair) (0.19.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair) (2022.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: altair in /usr/local/lib/python3.10/dist-packages (4.2.2)
Requirement already satisfied: vega_datasets in /usr/local/lib/python3.10/dist-packages (0.9.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair) (4.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from altair) (1.22.4)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.10/dist-packages (from altair) (1.5.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair) (0.12.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair) (0.19.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair) (2022.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting vega
  Downloading vega-4.0.0-py3-none-any.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 26.8 MB/s eta 0:00:00
Collecting ipytablewidgets<0.4.0,>=0.3.0 (from vega)
  Downloading ipytablewidgets-0.3.1-py2.py3-none-any.whl (190 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 190.2/190.2 kB 17.1 MB/s eta 0:00:00
Collecting jupyter<2.0.0,>=1.0.0 (from vega)
  Downloading jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Requirement already satisfied: pandas<2.0.0,>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from vega) (1.5.3)
Requirement already satisfied: ipywidgets<9,>=7.5.0 in /usr/local/lib/python3.10/dist-packages (from ipytablewidgets<0.4.0,>=0.3.0->vega) (7.7.1)
Requirement already satisfied: traitlets>=4.3.0 in /usr/local/lib/python3.10/dist-packages (from ipytablewidgets<0.4.0,>=0.3.0->vega) (5.7.1)
Collecting traittypes>=0.0.6 (from ipytablewidgets<0.4.0,>=0.3.0->vega)
  Downloading traittypes-0.2.1-py2.py3-none-any.whl (8.6 kB)
Requirement already satisfied: numpy<2.0.0,>=1.10.4 in /usr/local/lib/python3.10/dist-packages (from ipytablewidgets<0.4.0,>=0.3.0->vega) (1.22.4)
Collecting lz4 (from ipytablewidgets<0.4.0,>=0.3.0->vega)
  Downloading lz4-4.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 41.7 MB/s eta 0:00:00
Requirement already satisfied: notebook in /usr/local/lib/python3.10/dist-packages (from jupyter<2.0.0,>=1.0.0->vega) (6.4.8)
Collecting qtconsole (from jupyter<2.0.0,>=1.0.0->vega)
  Downloading qtconsole-5.4.3-py3-none-any.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.9/121.9 kB 12.1 MB/s eta 0:00:00
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.10/dist-packages (from jupyter<2.0.0,>=1.0.0->vega) (6.1.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from jupyter<2.0.0,>=1.0.0->vega) (6.5.4)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (from jupyter<2.0.0,>=1.0.0->vega) (5.5.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.5.0->vega) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.5.0->vega) (2022.7.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (3.6.4)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (3.0.7)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->vega) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->vega) (6.3.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.5.0->vega) (1.16.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter<2.0.0,>=1.0.0->vega) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter<2.0.0,>=1.0.0->vega) (2.14.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (4.11.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (6.0.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (0.4)
Requirement already satisfied: jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (5.3.0)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (0.2.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (2.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (0.7.4)
Requirement already satisfied: nbformat>=5.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (5.8.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (23.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (1.5.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->vega) (1.2.1)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->vega) (23.2.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->vega) (21.3.0)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->vega) (1.5.6)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->vega) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->vega) (0.17.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->vega) (0.16.0)
Collecting qtpy>=2.0.1 (from qtconsole->jupyter<2.0.0,>=1.0.0->vega)
  Downloading QtPy-2.3.1-py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.9/84.9 kB 8.6 MB/s eta 0:00:00
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (67.7.2)
Collecting jedi>=0.16 (from ipython>=4.0.0->ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 53.4 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (4.8.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core>=4.7->nbconvert->jupyter<2.0.0,>=1.0.0->vega) (3.3.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.1->nbconvert->jupyter<2.0.0,>=1.0.0->vega) (2.16.3)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.1->nbconvert->jupyter<2.0.0,>=1.0.0->vega) (4.3.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter<2.0.0,>=1.0.0->vega) (0.2.6)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.10/dist-packages (from terminado>=0.8.3->notebook->jupyter<2.0.0,>=1.0.0->vega) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook->jupyter<2.0.0,>=1.0.0->vega) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->jupyter<2.0.0,>=1.0.0->vega) (2.4.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert->jupyter<2.0.0,>=1.0.0->vega) (0.5.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets<9,>=7.5.0->ipytablewidgets<0.4.0,>=0.3.0->vega) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter<2.0.0,>=1.0.0->vega) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter<2.0.0,>=1.0.0->vega) (0.19.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter<2.0.0,>=1.0.0->vega) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter<2.0.0,>=1.0.0->vega) (2.21)
Installing collected packages: traittypes, qtpy, lz4, jedi, qtconsole, jupyter, ipytablewidgets, vega
Successfully installed ipytablewidgets-0.3.1 jedi-0.18.2 jupyter-1.0.0 lz4-4.3.2 qtconsole-5.4.3 qtpy-2.3.1 traittypes-0.2.1 vega-4.0.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting altair_viewer
  Downloading altair_viewer-0.4.0-py3-none-any.whl (844 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 844.5/844.5 kB 13.6 MB/s eta 0:00:00
Requirement already satisfied: altair in /usr/local/lib/python3.10/dist-packages (from altair_viewer) (4.2.2)
Collecting altair-data-server>=0.4.0 (from altair_viewer)
  Downloading altair_data_server-0.4.1-py3-none-any.whl (12 kB)
Requirement already satisfied: portpicker in /usr/local/lib/python3.10/dist-packages (from altair-data-server>=0.4.0->altair_viewer) (1.3.9)
Requirement already satisfied: tornado in /usr/local/lib/python3.10/dist-packages (from altair-data-server>=0.4.0->altair_viewer) (6.3.1)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair->altair_viewer) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair->altair_viewer) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair->altair_viewer) (4.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from altair->altair_viewer) (1.22.4)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.10/dist-packages (from altair->altair_viewer) (1.5.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair->altair_viewer) (0.12.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair->altair_viewer) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair->altair_viewer) (0.19.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair->altair_viewer) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.18->altair->altair_viewer) (2022.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair->altair_viewer) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair->altair_viewer) (1.16.0)
Installing collected packages: altair-data-server, altair_viewer
Successfully installed altair-data-server-0.4.1 altair_viewer-0.4.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement textwrap (from versions: none)
ERROR: No matching distribution found for textwrap

In [2]:
import numpy as np
import pandas as pd
import os
import json
import io

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls
%cd "/content/drive/MyDrive/Colab Notebooks/skema/data"
!ls

In [5]:
path = "/content/drive/MyDrive/Colab Notebooks/skema/data/"
os.path.exists(path)

True

In [6]:
filenames = ["sarsdouble.xlsx", "modeling_covid_italy.xlsx", "response-to-covid-19-was-italy-unprepared.xlsx"]
diff_distance_map = []
for filename in filenames:
  print("\n**********************************************************************************\n")
  print("The annotated extractions file name %s " %(filename))
  df = pd.read_csv(os.path.join(path, filename))
  df['locationContext'] = df['locationContext'].replace({"^'|'$": ""}, regex=True)
  df['temporalContext'] = df['temporalContext'].replace({"^'|'$": ""}, regex=True)

  print("Number of page numbers different from extractions with that of manually annotated are : %d out of %d" %(len(df[df['pg_num'] != df["page_num"]]), df.shape[0]) )
  gp = df.groupby(['locationContext']).count()
  print(gp.reset_index()[['locationContext', 'event_id']])

**********************************************************************************

The annotated extractions file name sarsdouble.xlsx
Number of page numbers different from extractions with that of manually annotated are : 11 out of 172
                                      locationContext  event_id
0                                             Beijing        17
1                                     China,Hong Kong        15
2                    China,Hong Kong,Beijing,Shanghai         1
3     China,Hong Kong,Mainland China,Beijing,Shanghai         1
4             Europe,Inner Mongolia,Hong Kong,Beijing         1
5   Guangdong Province,Hong Kong,China,Mainland Ch...         2
6   Guangdong Province,Hong Kong,Mainland China,Be...         2
7                           Guangdong,China,Hong Kong         1
8                                           Hong Kong        43
9                              Hong Kong,Amoy Gardens        21
10                                Hong Kong,Guangdong        23
11                       Hong Kong,Guangdong Province         3
12                                     Inner Mongolia        23
13                   Inner Mongolia,Hong Kong,Beijing        14
14             Inner Mongolia,Hong Kong,Beijing,Paris         1

**********************************************************************************

The annotated extractions file name modeling_covid_italy.xlsx
Number of page numbers different from extractions with that of manually annotated are : 87 out of 302
                            locationContext  event_id
0  Italian population,Italian society,Italy         1
1                                     Italy       249
2                               Italy,China         1
3              Italy,Lodi Province,Lombardy         1
4         Italy,north to the south of Italy         1

**********************************************************************************

The annotated extractions file name response-to-covid-19-was-italy-unprepared.xlsx
Number of page numbers different from extractions with that of manually annotated are : 5 out of 42
                                      locationContext  event_id
0                                             Italian         1
1                                               Italy        26
2       Italy,European countries and the USA,Lombardy         2
3                               Italy,Italian regions         1
4                                      Italy,Lombardy         1
5                                 Italy,Lombardy,Rome         1
6   Italy,Lombardy,Rome,western European countries...         1
7                                Italy,northern Italy         2
8                         Italy,northern regions,Rome         1
9                                            Lombardy         1
10                                     Lombardy,Italy         1
11      Lombardy,Veneto,Emilia-Romagna,Piedmont,Italy         1
12                                         Rome,Italy         1

In [7]:
print("Distances between annotated page numbers cosmos page numbers: ", len(df[df['pg_num'] != df["page_num"]]))

Distances between annotated page numbers cosmos page numbers:  5

In [8]:
path = "/content/drive/MyDrive/Colab Notebooks/skema/data/"
extractions_path = "cosmos-and-extractions-jsons-for-3-papers"
annotated_files = ["data-sars-double.json", "data_modeling_covid_italy.json", "data-response-to-covid-19-was-italy-unprepared.json"]
extraction_files =["extractions_sarsdouble.json", "extractions_modeling_covid_italy--COSMOS-data.json","extractions_response-to-covid-19-was-italy-unprepared--COSMOS-data.json"]
paper_names = ["sarsdouble.pdf", "modeling_covid_italy.pdf", "response-to-covid-19-was-italy-unprepared.pdf"]
ann_extr_file_pairs = {}
for name,ann, extr in zip(paper_names,annotated_files, extraction_files):
  ann_extr_file_pairs[name] = [ann, extr]

In [9]:
def save_extr_ann_file(path, filename, map):
  pd.DataFrame.from_records(map).to_csv(os.path.join(path, filename+".xlsx"))

  with io.open(os.path.join(path, filename+".json"), 'w', encoding='utf-8') as f:
    f.write(json.dumps(map, ensure_ascii=False))

In [10]:
def combine_ann_extr_all(path, extractions_path, extr, ann,filename ):
  with open(os.path.join(path,extractions_path, extr ), "r", encoding='UTF-8') as f:
    contents = f.readlines()
    extractions = json.loads(contents[0])
  with open(os.path.join(path, ann ), "r", encoding='UTF-8') as f:
    contents = f.read()
    annotations = json.loads(contents)

  print(len(annotations), len(extractions["mentions"]), len(extractions["documents"]))
  doc_sentence_map = {}
  linear_order = 1
  doc_ids = sorted(list(extractions["documents"].keys()))
  for doc_id in doc_ids:
    #print(doc_id, document)
    document = extractions["documents"][doc_id]
    for i,sentence in enumerate(document['sentences']):
      doc_sentence_map[(doc_id,i)] = {"sentence_text":sentence['words'], "sno":linear_order}
      linear_order += 1

  doc_event_map = []
  event_doc_map = {}
  for mention in extractions['mentions']:
    # if mention['id'].startswith("E:"):
    for att in mention["attachments"]:
      if "pageNum" in att.keys():
        this_text = doc_sentence_map[(mention['document'], mention['sentence'])]['sentence_text']
        this_linear_order = doc_sentence_map[(mention['document'], mention['sentence'])]['sno']

        doc_event_map.append({"doc_id":mention['document'], "pg_num":att["pageNum"][0],"blk_id":att["blockIdx"][0],"sentence_id":mention['sentence'], 
                              "doc_sentence_count":len(extractions["documents"][mention['document']]["sentences"]), 
                              "event_id":mention["id"], "event":mention["text"] }) #corrected_sent_number -> 1,2,5,4,6,7, => 1,2,3,4,5,6
        event_doc_map[mention["id"]] = {"doc_id":mention['document'],"pg_num":att["pageNum"][0],"blk_id":att["blockIdx"][0],"sentence_id":mention['sentence'], 
                              "doc_sentence_count":len(extractions["documents"][mention['document']]["sentences"]), 
                              "event_id":mention["id"], "event":mention["text"] , "sentence_text":this_text, "doc_sent_linear_order":this_linear_order}
  event_ann_map = {}
  for ann in annotations:
    event_ann_map[ann['eventId']] = {"annotated_page_num":ann["page_num"],"para_num":ann["para_num"], "event":ann["event"], 'locationContext': ann['locationContext'],
    'temporalContext': ann['temporalContext'],'explanation': ann['explanation']}
  
  empty_map = {"annotated_page_num":"","para_num":"", "event":"", 'locationContext': "",
    'temporalContext': "",'explanation': ""}
  event_extr_ann_map = []
  for event, values in event_doc_map.items():
    this_event = event_ann_map[event] if event in event_ann_map.keys() else empty_map
    event_extr_ann_map.append({"doc_id":values['doc_id'],"annotated_page_num":this_event["annotated_page_num"],"para_num":this_event["para_num"], "event_id":values["event_id"],
                               "event":this_event["event"], 'locationContext': ",".join(this_event['locationContext']),
    "sentence_text":",".join(values["sentence_text"]),
    'temporalContext': ",".join(this_event['temporalContext']),'explanation': this_event['explanation'], 'pg_num':values['pg_num'], 'blk_id':values['blk_id'], 
    'sentence_id':values['sentence_id'], 'doc_sentence_count':values['doc_sentence_count'], "doc_sent_linear_order":values["doc_sent_linear_order"]})


  df = pd.DataFrame.from_records(event_extr_ann_map)
  df = df[df.columns]
  print(df.columns.to_list())
  print("\n")
  df['locationContext'] = df['locationContext'].replace({"^'|'$": ""}, regex=True)
  df['temporalContext'] = df['temporalContext'].replace({"^'|'$": ""}, regex=True)
  df.sort_values(by=['doc_id', 'pg_num','blk_id', 'sentence_id'], inplace=True,
               ascending = [True, True, True, True])
  d = df[['doc_id', 'pg_num','blk_id','sentence_id', 'doc_sentence_count']]
  df['linear_order'] = [i for i in range( 1,len(d)+1, 1)]
  print("columns \n",df.columns)
  df.to_csv(os.path.join(path, filename+"_linear_order_5_17"+".xlsx"))
  save_extr_ann_file(path, filename, event_extr_ann_map)

### Uncomment following lines to combine annotations and extractions

In [11]:
for key in paper_names:
  name = key
  ann, extr = ann_extr_file_pairs[name]
  combine_ann_extr_all(path, extractions_path, extr, ann, name[:-4]+"_all")

174 6212 91
['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event', 'locationContext', 'sentence_text', 'temporalContext', 'explanation', 'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count', 'doc_sent_linear_order']


columns
 Index(['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event',
       'locationContext', 'sentence_text', 'temporalContext', 'explanation',
       'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count',
       'doc_sent_linear_order', 'linear_order'],
      dtype='object')
302 10045 76
['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event', 'locationContext', 'sentence_text', 'temporalContext', 'explanation', 'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count', 'doc_sent_linear_order']


columns
 Index(['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event',
       'locationContext', 'sentence_text', 'temporalContext', 'explanation',
       'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count',
       'doc_sent_linear_order', 'linear_order'],
      dtype='object')
42 4429 47
['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event', 'locationContext', 'sentence_text', 'temporalContext', 'explanation', 'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count', 'doc_sent_linear_order']


columns
 Index(['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event',
       'locationContext', 'sentence_text', 'temporalContext', 'explanation',
       'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count',
       'doc_sent_linear_order', 'linear_order'],
      dtype='object')

In [12]:
def get_doc_id_sentence_text(path, extractions_path, extr,filename ):
  with open(os.path.join(path,extractions_path, extr ), "r", encoding='UTF-8') as f:
    contents = f.readlines()
    extractions = json.loads(contents[0])

  print(len(extractions["documents"]))
  doc_sentence_map = []
  linear_order = 1
  doc_ids = sorted(list(extractions["documents"].keys()))
  for doc_id in doc_ids:
    #print(doc_id, document)
    document = extractions["documents"][doc_id]
    for i,sentence in enumerate(document['sentences']):
      doc_sentence_map.append({"doc_id":doc_id,"sentence_id":i,"sentence_text":" ".join(sentence['words']),
                               "raw_text":" ".join(sentence['raw']), "text":document['text'], "sno":linear_order})
      if len(sentence['words']) != len(sentence['raw']):
        print("words and raw words lengths are not equal!")
      linear_order += 1
  pd.DataFrame.from_records(doc_sentence_map).to_csv(os.path.join(path, filename+".csv"))

In [13]:
for key in paper_names:
  name = key
  ann, extr = ann_extr_file_pairs[name]
  get_doc_id_sentence_text(path, extractions_path, extr, name[:-4]+"_all")

91
76
47

In [14]:
filenames = ["sarsdouble_all.xlsx", "modeling_covid_italy_all.xlsx", "response-to-covid-19-was-italy-unprepared_all.xlsx"]

### Save all event extractions with linear orders

In [15]:
filenames = ["sarsdouble_all_linear_order_5_17.xlsx", "modeling_covid_italy_all_linear_order_5_17.xlsx", "response-to-covid-19-was-italy-unprepared_all_linear_order_5_17.xlsx"]
diff_distance_map = []
for filename in filenames:
  print("\n**********************************************************************************\n")
  print("The annotated extractions file name %s " %(filename))
  df = pd.read_csv(os.path.join(path, filename), index_col=False)
  df = df[df.columns[1:]]
  print(df.columns.to_list())
  print("\n")
  event_df = df[df['event_id'].str.startswith("E:")]
  print(len(event_df), len(df))
  f = filename.replace("-","_").split("_")
  f = "_".join(f[:f.index("all")])
  print(f,f+"_event.xlsx")
  event_df.sort_values(by=['doc_id', 'pg_num','blk_id', 'sentence_id', 'linear_order'], inplace=True,
               ascending = [True, True, True, True, True])
  event_df.to_csv(os.path.join(path, f+"_events.csv"))

**********************************************************************************

The annotated extractions file name sarsdouble_all_linear_order_5_17.xlsx
['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event', 'locationContext', 'sentence_text', 'temporalContext', 'explanation', 'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count', 'doc_sent_linear_order', 'linear_order']


172 6108
sarsdouble sarsdouble_event.xlsx

<ipython-input-15-8d23addc7c87>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_df.sort_values(by=['doc_id', 'pg_num','blk_id', 'sentence_id', 'linear_order'], inplace=True,

**********************************************************************************

The annotated extractions file name modeling_covid_italy_all_linear_order_5_17.xlsx
['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event', 'locationContext', 'sentence_text', 'temporalContext', 'explanation', 'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count', 'doc_sent_linear_order', 'linear_order']


302 10045
modeling_covid_italy modeling_covid_italy_event.xlsx

<ipython-input-15-8d23addc7c87>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_df.sort_values(by=['doc_id', 'pg_num','blk_id', 'sentence_id', 'linear_order'], inplace=True,

**********************************************************************************

The annotated extractions file name response-to-covid-19-was-italy-unprepared_all_linear_order_5_17.xlsx
['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event', 'locationContext', 'sentence_text', 'temporalContext', 'explanation', 'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count', 'doc_sent_linear_order', 'linear_order']


42 4429
response_to_covid_19_was_italy_unprepared response_to_covid_19_was_italy_unprepared_event.xlsx

<ipython-input-15-8d23addc7c87>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event_df.sort_values(by=['doc_id', 'pg_num','blk_id', 'sentence_id', 'linear_order'], inplace=True,

In [16]:
event_df[['doc_id','pg_num', 'blk_id','sentence_id', 'doc_sentence_count', 'linear_order']]

,doc_id,pg_num,blk_id,sentence_id,doc_sentence_count,linear_order
1916,-1949274406,2,4,3,13,1917
2102,-1949274406,2,4,10,13,2103
2156,-1949274406,2,4,12,13,2157
1519,-1810507189,8,2,1,15,1520
1588,-1810507189,8,2,5,15,1589
1618,-1810507189,8,2,8,15,1619
1680,-1810507189,8,2,11,15,1681
1198,-1675118546,11,2,1,9,1199
1213,-1675118546,11,2,2,9,1214
1294,-1675118546,11,2,6,9,1295
1101,-1657329247,5,5,2,6,1102
1119,-1657329247,5,5,3,6,1120
890,-1468384437,8,4,1,6,891
904,-1468384437,8,4,2,6,905
631,-1113525426,13,1,16,39,632
358,-1045735558,1,6,0,2,359
94,-100047078,7,3,4,12,95
100,-100047078,7,3,4,12,101
188,-100047078,7,3,8,12,189
189,-100047078,7,3,8,12,190
241,-100047078,7,3,8,12,242
4332,859959020,4,2,17,23,4333
4360,859959020,4,2,20,23,4361
4396,859959020,4,2,22,23,4397
2372,1212143804,5,3,2,3,2373
2405,1379080646,3,2,5,21,2406
2446,1379080646,3,2,9,21,2447
2675,1441143227,1,11,1,8,2676
2723,1441143227,1,11,4,8,2724
2724,1441143227,1,11,4,8,2725
2886,1673799886,9,1,2,5,2887
2902,1673799886,9,1,4,5,2903
2903,1673799886,9,1,4,5,2904
2969,1685655814,2,3,2,14,2970
3073,1685655814,2,3,5,14,3074
3077,1685655814,2,3,6,14,3078
3141,1685655814,2,3,9,14,3142
3164,1685655814,2,3,9,14,3165
3196,1685655814,2,3,11,14,3197
3221,1685655814,2,3,12,14,3222
3410,1864928046,10,1,8,21,3411
3594,1864928046,10,1,13,21,3595

In [17]:
from collections import Counter

filenames = ["sarsdouble_all_linear_order_5_17.xlsx", "modeling_covid_italy_all_linear_order_5_17.xlsx", "response-to-covid-19-was-italy-unprepared_all_linear_order_5_17.xlsx"]
loc_context_counter = Counter()
temporal_context_counter = Counter()
loc_context_counters = {filename: Counter() for filename in filenames}
temporal_context_counters = {filename: Counter() for filename in filenames}

loc_tf = {}
with pd.ExcelWriter(os.path.join(path, "summarized_context_counter.xlsx")) as writer:

  for filename in filenames:
    print("\n**********************************************************************************\n")
    print("The annotated extractions file name %s " %(filename))
    df = pd.read_csv(os.path.join(path, filename), index_col=False)
    df = df[df.columns[1:]]
    df = df.fillna("")
    loc_context_counter = Counter()
    temporal_context_counter = Counter()
    loc_context_counter = Counter([l for l in sum(df['locationContext'].apply(lambda x: x.split(",")).to_list(), []) if l != ''])
    temporal_context_counter = Counter([l for l in sum(df['temporalContext'].apply(lambda x: x.split(",")).to_list(), []) if l != ''])
    print(loc_context_counter)
    print(temporal_context_counter)
    loc_context_counters[filename] = loc_context_counter
    temporal_context_counters[filename] = temporal_context_counter
    loc_context_counter.update(temporal_context_counter)
    pd.DataFrame.from_dict(loc_context_counter, orient="index").reset_index().to_excel(writer, sheet_name=filename[:-27], index=False)

**********************************************************************************

The annotated extractions file name sarsdouble_all_linear_order_5_17.xlsx
Counter({'Hong Kong': 128, 'Inner Mongolia': 39, 'Beijing': 39, 'Guangdong': 24, 'Amoy Gardens': 21, 'China': 20, 'Guangdong Province': 7, 'Shanghai': 6, 'Mainland China': 5, 'Europe': 1, 'Paris': 1})
Counter({' 2003': 304, 'March 17': 135, 'May 10': 135, '1983': 21, '1985': 21, '03/17': 10, '03/20': 10, '03/23': 10, '03/26': 10, '03/29': 10, '04/01': 10, '04/04': 10, '04/07': 10, '04/10': 10, '04/13': 10, '04/16': 10, '04/19': 10, '04/22': 10, '04/25': 10, '04/28': 10, '05/01': 10, '05/04': 10, '05/07': 10, '05/10': 10, 'February 21st': 9, 'February 21': 9, '17 March': 8, '10 May': 8, 'November 2002': 5, 'February 22': 4})

**********************************************************************************

The annotated extractions file name modeling_covid_italy_all_linear_order_5_17.xlsx
Counter({'Italy': 253, 'Lodi Province': 1, 'Lombardy': 1, 'north to the south of Italy': 1, 'China': 1, 'Italian population': 1, 'Italian society': 1})
Counter({'20 February 2020 (day 1) through 5 April 2020 (day 46)': 90, 'after day 50': 44, 'at day 1': 44, 'after day 22': 30, 'day 1': 21, '20 February 2020 (day 1) to 5 April 2020 (day 46)': 14, 'in all cases': 10, 'after day 38': 7, '9 March 2020': 6, '300-day horizon': 5, 'day 22': 4, 'after day 28': 4, 'over a 350-day horizon': 3, 'day 4': 2, 'over a 500-day horizon': 2, '26 February 2020': 1, 'on day 1': 1, 'on day 4': 1, 'at day 12': 1, '22 March 2020': 1, '46': 1, '20 February 2020(day 1) through 5 April 2020 (day 46)': 1, 'after day 12': 1, 'after day 4': 1, '24 February 2020': 1, 'around day 25': 1, 'over a 300-day horizon': 1})

**********************************************************************************

The annotated extractions file name response-to-covid-19-was-italy-unprepared_all_linear_order_5_17.xlsx
Counter({'Italy': 38, 'Lombardy': 8, 'Rome': 4, 'northern Italy': 2, 'European countries and the USA': 2, 'western European countries': 1, 'Spain': 1, 'northern regions': 1, 'Italian': 1, 'Veneto': 1, 'Emilia-Romagna': 1, 'Piedmont': 1, 'Italian regions': 1})
Counter({'COVID-19 crisis': 5, 'since the early 1990s': 4, 'between 2000 and 2017': 3, '2020': 3, '2017': 2, '12-week period': 2, 'April 2020': 2, '2019': 2, '2005': 2, 'during the early days of the COVID-19 outbreak': 2, 'between 1st February and 14th April': 2, 'pre-COVID-19': 1, '2014': 1, 'COVID-19 outbreak': 1, 'COVID-19 pandemic': 1, 'COVID-19 health crisis': 1, 'more recently': 1, '2021–2023': 1, '31st January 2020': 1, 'on 3rd February': 1, 'between 31st January 2020': 1, 'beginning of June': 1, 'two months after the beginning of the first wave': 1, '1 January–30 April 2015–2019': 1, 'during the COVID-19 emergency': 1, '2004': 1, '2007': 1, 'early on in the pandemic (March 2020)': 1})

/usr/local/lib/python3.10/dist-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [18]:
df.columns

Index(['doc_id', 'annotated_page_num', 'para_num', 'event_id', 'event',
       'locationContext', 'sentence_text', 'temporalContext', 'explanation',
       'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count',
       'doc_sent_linear_order', 'linear_order'],
      dtype='object')

In [19]:
from collections import Counter

filenames = ["sarsdouble_all_linear_order_5_17.xlsx", "modeling_covid_italy_all_linear_order_5_17.xlsx", "response-to-covid-19-was-italy-unprepared_all_linear_order_5_17.xlsx"]

loc_tf = {}
# with pd.ExcelWriter(os.path.join(path, "summarized_context_counter.xlsx")) as writer:

for filename in filenames:
  print("\n**********************************************************************************\n")
  print("The annotated extractions file name %s " %(filename))
  df = pd.read_csv(os.path.join(path, filename), index_col=False)
  df = df[df.columns[1:]]
  df = df.fillna("")

**********************************************************************************

The annotated extractions file name sarsdouble_all_linear_order_5_17.xlsx

**********************************************************************************

The annotated extractions file name modeling_covid_italy_all_linear_order_5_17.xlsx

**********************************************************************************

The annotated extractions file name response-to-covid-19-was-italy-unprepared_all_linear_order_5_17.xlsx

In [20]:
pd.DataFrame.from_dict(loc_context_counter, orient="index").reset_index()

                                               index   0
0                                              Italy  38
1                                           Lombardy   8
2                                               Rome   4
3                         western European countries   1
4                                              Spain   1
5                                   northern regions   1
6                                            Italian   1
7                                             Veneto   1
8                                     Emilia-Romagna   1
9                                           Piedmont   1
10                                    northern Italy   2
11                                   Italian regions   1
12                    European countries and the USA   2
13                             between 2000 and 2017   3
14                                              2017   2
15                                      pre-COVID-19   1
16                                              2014   1
17                                    12-week period   2
18                                              2020   3
19                                        April 2020   2
20                                 COVID-19 outbreak   1
21                                 COVID-19 pandemic   1
22                                              2019   2
23                            COVID-19 health crisis   1
24                                   COVID-19 crisis   5
25                                              2005   2
26                                     more recently   1
27                                         2021–2023   1
28                                 31st January 2020   1
29                                   on 3rd February   1
30                         between 31st January 2020   1
31                                 beginning of June   1
32  two months after the beginning of the first wave   1
33                      1 January–30 April 2015–2019   1
34                     during the COVID-19 emergency   1
35    during the early days of the COVID-19 outbreak   2
36                             since the early 1990s   4
37                                              2004   1
38                                              2007   1
39             early on in the pandemic (March 2020)   1
40               between 1st February and 14th April   2

In [21]:
df = df.fillna("")
Counter([l for l in sum(df['locationContext'].apply(lambda x: x.split(",")).to_list(), []) if l != ''])
Counter([l for l in sum(df['temporalContext'].apply(lambda x: x.split(",")).to_list(), []) if l != ''])

Counter({'between 2000 and 2017': 3,
         '2017': 2,
         'pre-COVID-19': 1,
         '2014': 1,
         '12-week period': 2,
         '2020': 3,
         'April 2020': 2,
         'COVID-19 outbreak': 1,
         'COVID-19 pandemic': 1,
         '2019': 2,
         'COVID-19 health crisis': 1,
         'COVID-19 crisis': 5,
         '2005': 2,
         'more recently': 1,
         '2021–2023': 1,
         '31st January 2020': 1,
         'on 3rd February': 1,
         'between 31st January 2020': 1,
         'beginning of June': 1,
         'two months after the beginning of the first wave': 1,
         '1 January–30 April 2015–2019': 1,
         'during the COVID-19 emergency': 1,
         'during the early days of the COVID-19 outbreak': 2,
         'since the early 1990s': 4,
         '2004': 1,
         '2007': 1,
         'early on in the pandemic (March 2020)': 1,
         'between 1st February and 14th April': 2})

### Explore TF-IDF solution and N-GRAM solution since contexts can be phrases

#### Exploring TF-IDF for finding closest context

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

filenames = ["sarsdouble_all.csv", "modeling_covid_italy_all.csv", "response-to-covid-19-was-italy-unprepared_all.csv"]
events_filenames = {"sarsdouble_all.csv":"sarsdouble_events.csv", "modeling_covid_italy_all.csv":"modeling_covid_italy_events.csv", 
                    "response-to-covid-19-was-italy-unprepared_all.csv":"response_to_covid_19_was_italy_unprepared_events.csv"}

loc_tf = {}
# with pd.ExcelWriter(os.path.join(path, "summarized_context_counter.xlsx")) as writer:

for filename in filenames:
  print("\n**********************************************************************************\n")
  print("The annotated extractions file name %s " %(filename))
  df = pd.read_csv(os.path.join(path, filename), index_col=False)

  sentences = df['sentence_text'].to_list()
  count_vectorizer = CountVectorizer()
  count_vectorizer.fit_transform(sentences)
  print ("Vocabulary: ")
  print(count_vectorizer.vocabulary_)
  vocab = list(count_vectorizer.vocabulary_)
  print(vocab)


  events_df = pd.read_csv(os.path.join(path, events_filenames[filename]), index_col=False)
  events_df.fillna("")
  events_df['locationContext'] = events_df['locationContext'].replace({"^'|'$": ""}, regex=True)
  events_df['temporalContext'] = events_df['temporalContext'].replace({"^'|'$": ""}, regex=True)
  events_df['locationContext'] = events_df['locationContext'].str.replace('nan', "")
  events_df['locationContext'] = events_df['locationContext'].str.replace('\'','')
  events_df['temporalContext'] = events_df['temporalContext'].str.replace('nan', "")
  events_df['temporalContext'] = events_df['temporalContext'].str.replace('\'','')
  
  location_contexts = []
  temporal_contexts = []
  for context in events_df["locationContext"].str.replace('nan', "").tolist():
    context = str(context).replace("nan", "").lower() if type(context) == float else context.lower()
    location_contexts.extend(context.split(",")) 
  for context in events_df["temporalContext"].str.replace('nan', "").tolist():
    context = str(context).replace("nan", "").lower() if type(context) == float else context.lower()
    temporal_contexts.extend(context.split(","))
  location_contexts = list(set(location_contexts))
  temporal_contexts = list(set(temporal_contexts))
  print(len(location_contexts), len(set(location_contexts)))
  print(len(temporal_contexts), len(set(temporal_contexts)))

  freq_term_matrix = count_vectorizer.transform(location_contexts)
  print("Frequency Term matrix")
  print (freq_term_matrix.todense())

  count_array = freq_term_matrix.toarray()
  df = pd.DataFrame(data=count_array, columns=vocab)
  #print(df)

  tfidf = TfidfTransformer(norm="l2")
  tfidf.fit(freq_term_matrix)
  print ("IDF:")
  print(tfidf.idf_)
  freq_term_matrix = count_vectorizer.transform(temporal_contexts)
  print("Frequency Term matrix")
  print (freq_term_matrix.todense())

  count_array = freq_term_matrix.toarray()
  df = pd.DataFrame(data=count_array, columns=vocab)
  #print(df)

  tfidf = TfidfTransformer(norm="l2")
  tfidf.fit(freq_term_matrix)
  print ("IDF:")
  print(tfidf.idf_)
  #print(df.head)

#### N-Gram solution since contexts can be phrases

In [25]:
import nltk

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.collocations import *

filenames = ["sarsdouble_all.csv", "modeling_covid_italy_all.csv", "response-to-covid-19-was-italy-unprepared_all.csv"]
events_filenames = {"sarsdouble_all.csv":"sarsdouble_events.csv", "modeling_covid_italy_all.csv":"modeling_covid_italy_events.csv", 
                    "response-to-covid-19-was-italy-unprepared_all.csv":"response_to_covid_19_was_italy_unprepared_events.csv"}

loc_tf = {}
# with pd.ExcelWriter(os.path.join(path, "summarized_context_counter.xlsx")) as writer:

for filename in filenames:
  print("\n**********************************************************************************\n")
  print("The annotated extractions file name %s " %(filename))
  df = pd.read_csv(os.path.join(path, filename), index_col=False)

  words = df['sentence_text'].to_list()
  sentences = []
  for sent in df['text'].to_list():
    sentences.extend(sent.split("\n"))

  events_df = pd.read_csv(os.path.join(path, events_filenames[filename]), index_col=False)
  events_df.fillna("")
  events_df['locationContext'] = events_df['locationContext'].replace({"^'|'$": ""}, regex=True)
  # events_df['temporalContext'] = events_df['temporalContext'].replace({"^'|'$": ""}, regex=True)
  events_df['locationContext'] = events_df['locationContext'].str.replace('nan', "")
  events_df['locationContext'] = events_df['locationContext'].str.replace('\'','')
  # events_df['temporalContext'] = events_df['temporalContext'].str.replace('nan', "")
  # events_df['temporalContext'] = events_df['temporalContext'].str.replace('\'','')
  
  location_contexts = []
  temporal_contexts = []
  for context in events_df["locationContext"].str.replace('nan', "").tolist():
    context = str(context).replace("nan", "").lower() if type(context) == float else context.lower()
    location_contexts.extend(context.split(",")) 
  for context in events_df["temporalContext"].str.replace('nan', "").tolist():
    context = str(context).replace("nan", "").lower() if type(context) == float else context.lower()
    temporal_contexts.extend(context.split(","))
  location_contexts = list(set(location_contexts))
  temporal_contexts = list(set(temporal_contexts))
  print(len(location_contexts), len(set(location_contexts)))
  print(len(temporal_contexts), len(set(temporal_contexts)))

  tokens = [word.casefold() for sentence in sentences for sent in sent_tokenize(sentence) for word in word_tokenize(sent)]
  word_fd = nltk.FreqDist(tokens)
  bigram_fd = nltk.FreqDist(nltk.bigrams(tokens))
  finder = BigramCollocationFinder(word_fd, bigram_fd)

  word_fd = nltk.FreqDist(tokens)
  finder = BigramCollocationFinder(word_fd, bigram_fd)
  bigram_measures = nltk.collocations.BigramAssocMeasures()
  scored = finder.score_ngrams(bigram_measures.raw_freq)
  #print(finder.nbest(bigram_measures.pmi, 5))
  #print(scored)

  fourgram_measures = nltk.collocations.QuadgramAssocMeasures()
  finder_4grams = QuadgramCollocationFinder.from_words(tokens)
  scored_4grams = finder_4grams.score_ngrams(fourgram_measures.raw_freq)
  print(scored_4grams)
  # finder_4grams.apply_word_filter(lambda w: len(w) < 3)

In [ ]:
for loc in location_contexts:
  if loc:
    print(loc)
    for t in scored_4grams:
      words, score = t
      text = " ".join(words)
      if loc in text:
        print(loc, text )

In [29]:
temporal_contexts

['',
 'between 2000 and 2017',
 'covid-19 crisis',
 'during the early days of the covid-19 outbreak',
 '31st january 2020',
 '2005',
 'on 3rd february',
 '1 january–30 april 2015–2019',
 'since the early 1990s',
 'covid-19 outbreak',
 'april 2020',
 '2019',
 '2020',
 '12-week period',
 'covid-19 pandemic',
 'pre-covid-19',
 'between 31st january 2020',
 '2017',
 'beginning of june',
 'more recently',
 '2007',
 '2021–2023',
 '2004',
 'during the covid-19 emergency',
 'early on in the pandemic (march 2020)',
 'covid-19 health crisis',
 'two months after the beginning of the first wave',
 '2014',
 'between 1st february and 14th april']

In [30]:
location_contexts

['',
 'italian regions',
 'rome',
 'italian',
 'piedmont',
 'spain',
 'european countries and the usa',
 'emilia-romagna',
 'northern regions',
 'northern italy',
 'western european countries',
 'lombardy',
 'italy',
 'veneto']

In [31]:
len(tfidf.idf_), len(vocab)

(1803, 1803)

In [32]:
for ctx in location_contexts:
  if ctx in count_vectorizer.vocabulary_.keys():
    print(ctx,count_vectorizer.vocabulary_[ctx])
  else:
    print(ctx, " does not exist in this vocab")

  does not exist in this vocab
italian regions  does not exist in this vocab
rome 1454
italian 939
piedmont 1228
spain 1538
european countries and the usa  does not exist in this vocab
emilia-romagna  does not exist in this vocab
northern regions  does not exist in this vocab
northern italy  does not exist in this vocab
western european countries  does not exist in this vocab
lombardy 1013
italy 941
veneto 1746

In [33]:
if "italy" in count_vectorizer.vocabulary_.keys():
  print("Italy")

Italy

##### numpy way of sorting multiple columns

In [34]:
a = np.array([[9, 2, 3],
           [4, 5, 6],
           [7, 0, 5]])
a1 = a[a[:, 0].argsort()]
a2 = a1[a1[:, 1].argsort()]
a3 = a2[a2[:, 2].argsort()]
a1,a2,a3

(array([[4, 5, 6],
        [7, 0, 5],
        [9, 2, 3]]),
 array([[7, 0, 5],
        [9, 2, 3],
        [4, 5, 6]]),
 array([[9, 2, 3],
        [7, 0, 5],
        [4, 5, 6]]))

## Solution: for searching the contexts
- For each pdf in pdf_names:
  - First construct contexts dictionary with contexts as keys and doc_id, block_id, sentence_number, **all extractions' linear_order_number** from {this_pdf_name}_events.xlsx
  - Get doc_sentence_map with doc_id, sentence_text, sentence_id, doc_sent_linear_order from {this_pdf_name}_all.csv
  - For each context key in contexts dictionary :
    - this_doc_id, sentence_number from contexts dictionary
    - from doc_sentence_map, get all sentences up until **doc_sent_map's doc_sent_linear_order**
    - get 3 top closest doc_id, sentence_number pairs where the context was found up until this_doc_id,this_sentence_number
    - calculate distance between **doc_sent_map's doc_sent_linear_order** between context dictionary value and doc_sentence_map for each of the nearest context matches
- Plot the histogram

In [46]:

filenames = ["sarsdouble_all.csv", "modeling_covid_italy_all.csv", "response-to-covid-19-was-italy-unprepared_all.csv"]
events_filenames = {"sarsdouble_all.csv":"sarsdouble_events.csv", "modeling_covid_italy_all.csv":"modeling_covid_italy_events.csv", 
                    "response-to-covid-19-was-italy-unprepared_all.csv":"response_to_covid_19_was_italy_unprepared_events.csv"}

loc_tf = {}
# with pd.ExcelWriter(os.path.join(path, "summarized_context_counter.xlsx")) as writer:

for filename in filenames:
  print("\n**********************************************************************************\n")
  print("The annotated extractions file name %s " %(filename))
  df = pd.read_csv(os.path.join(path, filename), index_col=False)

  words = df['sentence_text'].to_list()
  sentences = []
  for sent in df['text'].to_list():
    sentences.extend(sent.split("\n"))

  events_df = pd.read_csv(os.path.join(path, events_filenames[filename]), index_col=False)
  events_df.fillna("")
  events_df['locationContext'] = events_df['locationContext'].replace({"^'|'$": ""}, regex=True)
  # events_df['temporalContext'] = events_df['temporalContext'].replace({"^'|'$": ""}, regex=True)
  events_df['locationContext'] = events_df['locationContext'].str.replace('nan', "")
  events_df['locationContext'] = events_df['locationContext'].str.replace('\'','')
  # events_df['temporalContext'] = events_df['temporalContext'].str.replace('nan', "")
  # events_df['temporalContext'] = events_df['temporalContext'].str.replace('\'','')
  
  location_contexts = []
  temporal_contexts = []
  events_df["locationContext"] = events_df["locationContext"].apply(lambda x: str(x).replace("nan", "").lower()
                                if type(x) == float else x.lower())
  events_df["temporalContext"] = events_df["temporalContext"].apply(lambda x: str(x).replace("nan", "").lower()
                                if type(x) == float else x.lower())
  events_df["location_contexts"] = events_df["locationContext"].apply(lambda x: str(x).replace("nan", "").lower().split(",") 
                                if type(x) == float else x.lower().split(","))
  events_df["temporal_contexts"] = events_df["temporalContext"].apply(lambda x: str(x).replace("nan", "").lower().split(",") 
                                if type(x) == float else x.lower().split(","))
  for context in events_df["location_contexts"].tolist():
    location_contexts.extend(context) 
  for context in events_df["temporal_contexts"].tolist():
    temporal_contexts.extend(context)
  ulocation_contexts = list(set(location_contexts))
  utemporal_contexts = list(set(temporal_contexts))
  print(len(location_contexts), len(set(location_contexts)))
  print(len(temporal_contexts), len(set(temporal_contexts)))
  all_contexts = ulocation_contexts + utemporal_contexts
  contexts = {}
  for ctx in ulocation_contexts:
    contexts[ctx] = events_df[events_df["locationContext"].str.contains(ctx)][['doc_id', 'event_id',
       'event', 'sentence_text', 'pg_num', 'blk_id', 'sentence_id', 'doc_sent_linear_order', 'linear_order']].values.tolist()

**********************************************************************************

The annotated extractions file name sarsdouble_all.csv
295 12
853 31

**********************************************************************************

The annotated extractions file name modeling_covid_italy_all.csv
308 8
353 28

**********************************************************************************

The annotated extractions file name response-to-covid-19-was-italy-unprepared_all.csv
64 14
49 29

In [47]:
events_df["location_contexts"] = events_df["locationContext"].apply(lambda x: str(x).replace("nan", "").lower().split(",") 
                                if type(x) == float else x.lower().split(","))
events_df["locationContext"] = events_df["locationContext"].apply(lambda x: str(x).replace("nan", "").lower()
                                if type(x) == float else x.lower())

In [48]:
for ctx in ulocation_contexts:
  if ctx:
    contexts[ctx]

In [49]:
ulocation_contexts

['',
 'italian regions',
 'rome',
 'italian',
 'piedmont',
 'spain',
 'european countries and the usa',
 'emilia-romagna',
 'northern regions',
 'northern italy',
 'western european countries',
 'lombardy',
 'italy',
 'veneto']

In [50]:
Counter(location_contexts)

Counter({'italy': 38,
         'northern regions': 1,
         'rome': 4,
         'lombardy': 8,
         '': 2,
         'western european countries': 1,
         'spain': 1,
         'italian regions': 1,
         'european countries and the usa': 2,
         'italian': 1,
         'veneto': 1,
         'emilia-romagna': 1,
         'piedmont': 1,
         'northern italy': 2})

In [ ]:
events_df[events_df["locationContext"].str.contains('italy')]

In [ ]:
df

In [ ]:
print("\n**********************************************************************************\n")
print("The annotated extractions file name %s " %(filenames[2]))
df = pd.read_csv(os.path.join(path, filenames[2]), index_col=False)

words = df['text'].to_list()
sentences = []
for sent in df['text'].to_list():
  sentences.extend(sent.split("\n"))
for ctx, values in contexts.items():
  print("context ", ctx)
  for val in values:
    doc_id = val[0]
    sentence_num, doc_sent_linear_order, linear_order = val[6:]
    print(doc_id, sentence_num, doc_sent_linear_order, linear_order)
    sentences = df[df['sno']<=doc_sent_linear_order][['doc_id','sentence_id','sentence_text', 'sno']].values.tolist()
    for sentence in sentences:
      if ctx in sentence[2]:
        print("context "+ctx,sentence[2],  doc_sent_linear_order - sentence[3])
      else:
        print("None")

In [66]:
contexts['rome']

[[-1675118546,
  'E:-1325102996',
  'Current government instructions are based on a three-tier regional risk assessment',
  'Current,government,instructions,are,based,on,a,three-tier,regional,risk,assessment,.',
  11,
  2,
  1,
  78,
  1199],
 [-1657329247,
  'E:166257913',
  'which, if completed, will result in a more than doubled overall pre-pandemic capacity',
  'A,further,30,%,expansion,(,almost,2400,beds,),to,the,already,expanded,ICU,bed,numbers,has,been,planned,(,April,2020,),which,,,if,completed,,,will,result,in,a,more,than,doubled,overall,pre-pandemic,capacity,.',
  5,
  5,
  2,
  73,
  1102],
 [-100047078,
  'E:1158695828',
  'number increased',
  'Despite,recent,attempts,by,the,Italian,government,to,address,this,imbalance,through,increasing,the,number,of,students,training,to,become,nurse,(,the,number,increased,to,13,000,in,2014,from,a,low,3100,),,,the,COVID-19,crisis,has,heightened,the,shortage,of,health,care,professionals,suffered,by,the,SSN,,,with,a,pre-COVID-19,incidence,of,medical,personnel,of,about,95,workers,per,10,000,inhabitants,(,57,nurses,,,19,doctors,and,19,other,technical,staff,),.',
  7,
  3,
  8,
  9,
  242],
 [1441143227,
  'E:-1716002397',
  'detection of the first two COVID-19 cases',
  "Between,31st,January,2020,,,when,a,state,of,national,emergency,was,declared,after,the,detection,of,the,first,two,COVID-19,cases,in,Rome,,,and,the,easing,of,the,stringent,lockdown,restrictions,at,the,beginning,of,June,,,Italy,was,',hit,by,nothing,short,of,a,tsunami,of,unprecedented,forces,,,punctuated,by,an,incessant,stream,of,deaths,.",
  1,
  11,
  1,
  171,
  2676]]

In [43]:
events_df.columns

Index(['Unnamed: 0', 'doc_id', 'annotated_page_num', 'para_num', 'event_id',
       'event', 'locationContext', 'sentence_text', 'temporalContext',
       'explanation', 'pg_num', 'blk_id', 'sentence_id', 'doc_sentence_count',
       'doc_sent_linear_order', 'linear_order', 'location_contexts',
       'temporal_contexts'],
      dtype='object')

##### ignore

In [ ]:
path = "/content/drive/MyDrive/Colab Notebooks/skema/data/"
extractions_path = "cosmos-and-extractions-jsons-for-3-papers"
annotated_files = ["data-sars-double.json", "data_modeling_covid_italy.json", "data-response-to-covid-19-was-italy-unprepared.json"]
extraction_files =["extractions_sarsdouble.json", "extractions_modeling_covid_italy--COSMOS-data.json","extractions_response-to-covid-19-was-italy-unprepared--COSMOS-data.json"]
paper_names = ["sarsdouble.pdf", "modeling_covid_italy.pdf", "response-to-covid-19-was-italy-unprepared.pdf"]
ann_extr_file_pairs = {}
for name,ann, extr in zip(paper_names,annotated_files, extraction_files):
  ann_extr_file_pairs[name] = [ann, extr]

In [ ]:
ann_extr_file_pairs

In [ ]:
for ann, extr in list(ann_extr_file_pairs.values())[:1]:
  print("This extractions file ",extr)
  with open(os.path.join(path,extractions_path, extr ), "r", encoding='UTF-8') as f:
    contents = f.readlines()
    extractions = json.loads(contents[0])

In [ ]:
# events

# eventId
# page number , block number, sentence id -page -> linear order

# eventid 1,2,3,4,5

# linear sentence_order : 6,10,12,12,14

# location context
# temporal context 

# 1) missing linear order in TextReadingPipeline output -> extractions json
# 2) location context - annotations 
# 	for each eventID in eventMentions in annotations

# 		locations = [ "Italy", "Rome"]
# 		linear order entire extractions -> linear order for this evntID
# 			sentenceID -> documents and look in sentence text from this sentenceID 
# 			and get closest sentenceID where you find this location's text